@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --nav-bg-color:rgba(255, 255, 255, 0.1);
    --bg-color:#171f2b;
    --second-bg-color:#1f2733;
    --third-bg-color:#2d3542;
    ---main-color:#0ef;
    --main-white:#fff;
    --tab-list-color:#7c8594;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    
  }
}

body {
  color: var(--foreground);
  background: var(--background);

  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
