@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --nav-bg-color:rgba(255, 255, 255, 0.1);
    --bg-color:#171f2b;
    --second-bg-color:#1f2733;
    --third-bg-color:#2d3542;
    ---main-color:#0ef;
    --main-white:#fff;
    --tab-list-color:#7c8594;
    --title-color:#00c6ba;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    
  }
}

body {
  color: var(--foreground);
  background: var(--background);

  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

   /* Perspective for 3D effect */
  

 

.cube {
  width: 100vw;
  height: 100vh;
  
  perspective: 1000px;
  
}

.face {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  transform-origin: 50% 50% -50vw;
  transform: rotateY(0deg);
  animation: rotateCube 5s ease-in-out backwards ;
    transition: 2s;
    /* display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    backface-visibility: visible; */
}

/* Positioning the cube faces */

.front {
  width: 100vw;
  position: absolute;
  transform: rotateY(0deg)  ;
  backface-visibility: hidden;

}

.back {
  width: 100vw;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg) translateZ(100vw);

}

.right {
  width: 100vw;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(90deg) translateZ(50vw) translateX(50vw);

}

.left {
  width: 100vw;
  position: absolute;
  backface-visibility: hidden;
  transform:   rotateY(270deg) translateZ(50vw) translateX(-50vw);

}

.contact {
  position: absolute;
  backface-visibility: hidden;
  width: 100vw;
visibility: hidden;
transition-delay: 0.5s;
}
.contact.active{
  transform: rotateY(0deg)  translate(0vw);;
  visibility: visible;
}
.contact.action-contact{
  transition-delay: 1.5s;
}
.contact.action-contact.active{
  transition-delay: 0s;
}



/* Scale animation */
@keyframes rotateCube {
  from {
    transform:scale(0) rotateY(-360deg);
  }
  to {
    transform: scale(1) rotateY(0deg);
  }
}



.animate-nav {
  animation: nav-animation 1s ease-in-out backwards;
  animation-delay: 5s;

}

@keyframes nav-animation {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}


