@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --nav-bg-color:rgba(255, 255, 255, 0.1);
    --bg-color:#171f2b;
    --second-bg-color:#1f2733;
    --third-bg-color:#2d3542;
    ---main-color:#0ef;
    --main-white:#fff;
    --tab-list-color:#7c8594;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    
  }
}

body {
  color: var(--foreground);
  background: var(--background);

  font-family: Arial, Helvetica, sans-serif;
  perspective: 1000px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

   /* Perspective for 3D effect */
  

 

.cube {
  width: 100vw;
  height: 100vh;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 50% 50% -50vw;
  transform: rotateY(0deg);
  animation: rotateCube 8s ease-in-out ;
  transition: 5s;
}

.face {
    position: absolute;
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* backface-visibility: hidden */
    overflow-y: auto;
}

/* Positioning the cube faces */

.front {
  transform: rotateY(0deg)  translate(0vw);;
}

.back {

  transform: rotateY(180deg) translateZ(100vw) translateX(0vw);

}

.right {
  transform: rotateY(90deg) translateZ(50vw) translateX(50vw);

}

.left {
  transform:   rotateY(270deg) translateZ(50vw) translateX(-50vw);

}

.contact {
  width: 100vw;
visibility: hidden;
transition-delay: 0.1s;
}
.contact.active{
  transform: rotateY(0deg)  translate(0vw);;

  visibility: visible;
}


/* Scale animation */
@keyframes rotateCube {
  from {
    transform:  scaleX(0) scaleY(0) rotateY(0deg);
  }
  to {
    transform: scaleX(1) scaleY(1) rotateY(-360deg);
  }
}


@keyframes routerotateCube {
  from {
    transform:scaleX(0) scaleY(0) rotateY(0deg);
  }
  to {
    transform: scaleX(1) scaleY(1) rotateY(-90);
  }
}

.cuberoute {
  animation: routerotateCube 0.5s forwards; /* Change duration as needed */
}

